.products {
  float: left;
  width: 30%;
  background-color: aquamarine;
  padding: 1%;
  margin: 0.5%;
  text-align: center;
}
.products img {
  width: 80%;
}

body {
  background-color: darkcyan;
}

p {
  font-size: 25px;
}

button {
  font-size: 20px;
}

#cart {
  background-color: rgb(190, 239, 220);
  padding: 1%;
  margin: 0.5%;
  text-align: center;
}
#cart img {
  width: 50%;
}

h3 {
  font-size: 30px;
}

h2 {
  font-size: 33px;
}

h1 {
  text-align: center;
}
